* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Noto Sans";
}

/* header styling */

.header-container {
  max-width: 99.8%;
  background-color: rgba(211, 202, 189, 0.818);
  margin: 0.1rem auto 0;
  padding: 0.8rem 0 0.4rem 0.8rem;
  font-size: 2.4rem;
  border-bottom: 0.4rem solid #b86767;
}
.top-nav {
  margin: auto 1rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: rgb(189, 0, 0);
}

.logo span {
  color: black;
  font-style: italic;
}

.nav-btn {
  /* width: 20rem; */
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 1.6rem;
  align-items: center;
}

.nav-btn a {
  box-shadow: inset 0 0 0 0 rgb(189, 0, 0);
  color: rgb(189, 0, 0);
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.4s ease-in-out, box-shadow 0.3s ease-in-out;
}

.nav-btn a:hover {
  box-shadow: inset 100px 0 0 0 rgb(189, 0, 0);
  color: #000000b5;
}

.nav-btn li {
  margin-left: 1.2rem;
}

.nav-btn a,
.sub-nav a {
  text-decoration: none;
}

/* main styling */

.main {
  /* flex-direction: column; */
}

.hero-section {
  max-width: 90%;
  margin: 2rem auto 8rem;
  display: flex;
}

.hero-left {
  max-width: 60%;
}

.main-img {
  padding: 4rem;
  width: 52%;
  height: auto;
}

/* Footer styling */

.footer-container {
  border-top: 0.4rem solid #b86767;
  border-bottom: 0.4rem solid #b86767;
  background-color: rgba(211, 202, 189, 0.818);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
}

.source {
  font-style: italic;
  padding: 1rem 1rem 0.2rem 2rem;
  font-size: 2rem;
  font-weight: 500;
}

.source-link {
  width: 80%;
}

.source-link a,
.footer-container p {
  text-decoration: none;
  color: black;
  padding-left: 4rem;
}

.footer-container p a {
  color: black;
}

.source-link a:hover,
.footer-container p a:hover {
  text-decoration: underline;
  color: #b86767;
}
.copy-write {
}
